<h1>Listing artist_aliases</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artist_aliases.each do |artist_alias| %>
  <tr>
    <td><%= artist_alias.name %></td>
    <td><%= artist_alias.artist_id %></td>
    <td><%= link_to 'Show', artist_alias %></td>
    <td><%= link_to 'Edit', edit_artist_alias_path(artist_alias) %></td>
    <td><%= link_to 'Destroy', artist_alias, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artist alias', new_artist_alias_path %>
