<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist_alias.name %>
</p>

<p>
  <b>Artist:</b>
  <%= @artist_alias.artist_id %>
</p>


<%= link_to 'Edit', edit_artist_alias_path(@artist_alias) %> |
<%= link_to 'Back', artist_aliases_path %>
