<h1>Listing user_tracks</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Track</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_tracks.each do |user_track| %>
  <tr>
    <td><%= user_track.id %></td>
    <td><%= user_track.user_id %></td>
    <td><%= user_track.track_id %></td>
    <td><%= link_to 'Show', user_track %></td>
    <td><%= link_to 'Edit', edit_user_track_path(user_track) %></td>
    <td><%= link_to 'Destroy', user_track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User track', new_user_track_path %>
